<%= form_for(@user, url: registration_path(@user)) do |f| %>
    <table class='register-container'>
      <tr>
        <td><%= f.label :username %></td>
        <td><%= f.text_field :username %></td>
      </tr>
      <tr>
        <td><%= f.label :email %></td>
        <td><%= f.email_field :email %></td>
      </tr>
      <tr>
        <td><%= f.label :password %><em>(min 8 chars)</em></td>
        <td><%= f.password_field :password %></td>
      </tr>
      <tr>
        <td><%= f.label :password_confirmation %></td>
        <td><%= f.password_field :password_confirmation %></td>
      </tr>
      <tr>
        <td><%= f.label :firstname %></td>
        <td><%= f.text_field :firstname %></td>
      </tr>
      <tr>
        <td><%= f.label :lastname %></td>
        <td><%= f.text_field :lastname %></td>
      </tr>
      <tr>
        <td><%= f.label :address %></td>
        <td><%= f.text_field :address %></td>
      </tr>
      <tr>
        <td><%= f.label :npa %></td>
        <td><%= f.number_field :npa %></td>
      </tr>
      <tr>
        <td><%= f.label :commune %></td>
        <td><%= f.text_field :commune %></td>
      </tr>
      <tr>
        <td><%= f.label :phone %></td>
        <td><%= f.text_field :phone %></td>
      </tr>
      <tr>
        <td><p><%= button_tag 'Reset', type: :reset, :class => 'btn btn-danger',:style => 'width: 100%' %></p></td>
        <td><%= f.submit 'Sign up', :class => 'btn btn-success', :style => 'width: 100%'%></td>
      </tr>
    </table>
<% end %>