<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <table class='register-container-middle'>
      <tr>
        <td colspan='2' class='alert-danger'><%= render 'layouts/flash', :flash => flash %></td>
      </tr>
      <tr>
        <td colspan='2'><h4>Forgot your password?</h4></td>
      </tr>
      <tr><td><%= devise_error_messages! %></td></tr>
      <tr>
        <td><%= f.label :email %></td>
        <td><%= f.email_field :email, autofocus: true %></td>
      </tr>
      <tr>
        <td>
          <%= render "user/shared/links" %></td>
        <td><%= f.submit 'Recevoir un email', :class => 'btn btn-success', :style => 'width: 100%'%></td>
      </tr>
      <tr><td>
    </table>
<% end %>
