<tr>
  <td>
    <%= image_tag(offre.image.url, height: 50) if offre.image? %>
  </td>
  <td>
    <b><%= offre.title %></b><br/> <%= offre.descr %>
  </td>
  <td>
    <%- if offre.price == 0 %> Gratuit
        <% else %><%= offre.price %> CHF
    <% end -%></td>
  <td align="right">
    <% if offre.user_id == current_user.id %>
        <%= link_to 'Modifier mon offre', offre, :class => 'btn btn-info' %>
    <% else %>
        <%= link_to 'Consulter', offre, :class => 'btn btn-success' %>
    <% end %>
  </td>
</tr>