<!DOCTYPE html>
<html>
<head>
  <title>TrocBleuuu</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header><%= render 'layouts/header' %></header>
<% if current_user %>
    <div id="wrap-logged">
      <div id="main" class="clearfix">
        <%= yield %>
      </div>
    </div>
<% else %>
    <div id="wrap-home">
      <div id="main" class="clearfix">
        <%= yield %>
      </div>
    </div>
<% end %>
<footer>
  <%= render 'layouts/footer' %>
</footer>
</body>
</html>